<div class="diycolumn">
	<div class="diypdxinfo">
		<div class="eight columns">
			<div class="diy">
			
			<h3>DIY PORTLAND</h3>
			<p class="quote2">Sick of big box stores and corporate chains? Welcome to Portland, OR, USA—Home to all things independent!</p>
			<p class="tourtext">This walking tour is designed for those seeking to connect with the true, homespun culture of the city (which can sometimes be tough to find as a visitor).
			Along the way, we'll meet with some of the personalities that contribute to Portland's artisan and DIY culture, and we'll also explore some of the key policies
			that help foster these independent businesses. DIY PDX introduces tour-goers to our grassroots culture that embraces local self-reliance and sustainable living—
			and that defines Portland's independent ethos.</p>
						
			
			</div>
			
				<div class="video">
					<iframe width="640" height="480" src="https://www.kickstarter.com/projects/1607251927/know-your-city-kiosk/widget/video.html" frameborder="0" scrolling="no"> </iframe>
				</div>
			
		</div>
		

		
		<div class="four columns">
			<div class="bullets">
			<h5>Join us for a 2-hour downtown walking tour including:</h5>
			<p class="abouttext">
				<li>The history of Portland's unique food cart phenomena</li>
				<li>A look at Portland's burgeoning music and literary scenes and its independent businesses</li>
				<li>A visit to a craft brewery that has been in business for 20 years</li>
				<li> A local roaster that transports its coffee only by bicycle, of course!</li>
				
			</p>
			</div>
			
			<div class="gallery">
				<a href="/img/gallery1_full.jpg"  data-lightbox="diypdx" data-title="Awesome Caption!"><%= image_tag 'gallery1_full.jpg' %></a>
				<a href="/img/gallery1_full.jpg"  data-lightbox="diypdx" data-title="Awesome Caption!"><%= image_tag 'gallery1_full.jpg' %></a>
				<a href="/img/gallery1_full.jpg"  data-lightbox="diypdx" data-title="Awesome Caption!"><%= image_tag 'gallery1_full.jpg' %></a>
				<a href="/img/gallery1_full.jpg"  data-lightbox="diypdx" data-title="Awesome Caption!"><%= image_tag 'gallery1_full.jpg' %></a>
			</div>
			<div class="tourbuybutton">
				<a href="http://shop.knowyourcity.org/products/diytour" class="button buttontext">BUY TICKETS</a>
				<p class="hiddentourslink"><a href="#tours">Back to Top</a></p>
			</div>
		</div>
	</div>
</div>