<div class="diycolumn">
	<div class="diypdxinfo">
		<div class="eight columns">
			<div class="diy">
			DIY PDX
			</div>
		</div>
		
		<div class="four columns">
			<div class="diybullets">
			bullets
			</div>
		</div>
	</div>
</div>