<div id="diyquery" class="diycolumn">
	<div class="diypdxinfo">
		<div class="eight columns">
			<div class="diy">
			
			<h3 class="red">DIY PDX/h3>
			<p class="quote2">Sick of big box stores and corporate chains? Welcome to Portland, OR, USA—Home to all things independent!</p>
			<p class="tourtext">This walking tour is designed for those seeking to connect with the true, homespun culture of the city (which can sometimes be tough to find as a visitor).
			Along the way, we'll meet with some of the personalities that contribute to Portland's artisan and DIY culture, and we'll also explore some of the key policies
			that help foster these independent businesses. DIY PDX introduces tour-goers to our grassroots culture that embraces local self-reliance and sustainable living—
			and that defines Portland's independent ethos.</p>
						
			
			</div>
			
				<div class="video">
					<iframe src="//player.vimeo.com/video/77690367" width="640" height="480" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> 
				</div>
			
		</div>
		

		
		<div class="four columns">
			<div class="bullets">
			<h5>This two-hour tour includes:</h5>
			<p class="abouttext">
				<li>The history of Portland's unique food cart phenomena</li>
				<li>A look at Portland's burgeoning music and literary scenes and its independent businesses</li>
				<li>A visit to a craft brewery that has been in business for 20 years</li>
				<li> A local roaster that transports its coffee only by bicycle, of course!</li>
				
			</p>
			</div>
			
			<div class="gallery">
			<a href="/img/pic1.jpg"  data-lightbox="diyportland" data-title="Multicultural Portland Tour, Joe speaking about the Farmer's Market."><img src="/img/pic1_thumb.jpg" alt="gallery_1" width="120" height="120"/></a>
				<a href="/img/pic6.jpg"  data-lightbox="diyportland" data-title="Multicultural Portland Tour, discussing the Occupy Portland movement."><img src="/img/pic6_thumb.jpg" alt="gallery_1" width="120" height="120"/></a>
				<a href="/img/pic11.jpg"  data-lightbox="diyportland" data-title="Multicultural Portland Tour, explaining how things were set up in the park."><img src="/img/pic11_thumb.jpg" alt="gallery_1" width="120" height="120"/></a>
				<a href="/img/pic12.jpg"  data-lightbox="diyportland" data-title="Multicultural Portland Tour, Samantha showing off maps."><img src="/img/pic12_thumb.jpg" alt="gallery_1" width="120" height="120"/></a>

			</div>
			<div class="tourbuybutton">
				<a href="http://shop.knowyourcity.org/collections/tours/products/portland-101-tour-coming-soon" target="_blank" class="button buttontext">BUY TICKETS</a>
				<p class="hiddentourslink buttontext red"><a href="#tours">SELECT NEW TOUR</a></p>
			</div>
		</div>
	</div>
</div>