  	<div class="wrapper footer">
  		<div class="container white">
	  				
	  				<div class="four columns officelocation">
	  					<h5>OFFICE LOCATION</h5>
		  				<p class="abouttext">200 SW Ankeny St.</p>
		  				<p class="abouttext">Portland, OR 97204</p>
	  				</div>
	  				
	  				<div class="four columns contactus">
	  					<h5>CONTACT US</h5>
		  				<p class="abouttext">ask@knowyourcity.org</p>
		  				<p class="abouttext">(971) 717-7307</p>
	  				</div>
	  				
	  				<div class="four columns connectwithus">
		  				<h5>CONNECT WITH US</h5>
		  				<a href="#" class="social facebookbutton"></a>
		  				<a href="#" class="social twitterbutton"></a>
		  				<a href="#" class="social instagrambutton"></a>
		  				<a href="#" class="social vimeobutton"></a>
	  				</div>

	  		
  		</div>
  	</div>	