  	<div class="wrapper footer">
  		<div class="container white">
	  				
	  				<div class="four columns officelocation">
	  					<h6>OFFICE ADDRESS</h6>
		  				<p class="abouttext2 cushycms">800 NW 6th Ave #331<br>
		  				Portland, OR 97209</p>
	  				</div>
	  				
	  				<div class="four columns contactus">
	  					<h6>CONTACT US</h6>
		  				<p class="abouttext2 cushycms">ask@knowyourcity.org<br>
		  				(971) 717-7307</p>
	  				</div>
	  				
	  				<div class="four columns connectwithus">
		  				<h6>CONNECT WITH US</h6>
		  				<a href="http://www.facebook.com/kycpdx" target="_blank"><div class="social facebookicon"></div></a>
		  				<a href="http://www.twitter.com/kycpdx" target="_blank"><div class="social twittericon"></div></a>
		  				<a href="http://www.instagram.com/kycpdx" target="_blank"><div class="social instagramicon"></div></a>
		  				<a href="http://www.vimeo.com/kycpdx" target="_blank"><div class="social vimeoicon"></div></a>
		  				
	  				</div>

	  		
  		</div>
  	</div>	