<div class="multicultural">
	<div class="diypdxinfo">
		<div class="eight columns">
			<div class="diy">
			
				<h3>MULTICULTURAL PORTLAND</h3>
				<p class="quote2">While today, Portland is known as one of the whitest cities in the U.S., its multicultural and immigrant communities have a rich and storied history.</p>
				<p class="tourtext">Join us for the only Portland tour to uncover our multicultural past, and learn about the remarkably diverse Old Town/Chinatown community. We'll
					also explore the neighborhood's roots, and how it has served as an umbrella for the LGBT community, the homeless, and more. From showing the challenges, discrimination
					and inequality faced by Portland's multicultural communities, to highlighting the perseverance and contributions of our city's immigrants, Multicultural Portland is
					essential to understanding the city we know and love today.
				</p>
			
			
			</div>
			
					<div class="video">
						<iframe width="640" height="480" src="https://www.kickstarter.com/projects/1607251927/know-your-city-kiosk/widget/video.html" frameborder="0" scrolling="no"> </iframe>
					</div>
		
		</div>
		
		<div class="four columns">
			<div class="diybullets">
			<h5>Topics in this 2-hour walking tour include:</h5>
			<p class="abouttext">
				<li>Portland's "Old" and "New" Chinatowns, the home to the second largest Chinese population in the U.S., and the fallacy of the Shanghai Tunnels</li>
				<li>The site of Portland's first African American community, including hostels, jazz clubs, and barbershops prior to integration</li>
				<li>"Nihonmachi," Portland's Japan Town, and its sudden disappearance after Japanese internment during WWII</li>
				
			</p>
			</div>
		</div>
	</div>
</div>