<div class="nav">

<img src="images/KYClogo.png" alt="KYClogo" width="500" height="64" />
	
	
	<a href="#visitus">Visit Us</a>
	<a href="#schedule">Schedule</a>
	<a href="#tours">Tours</a>
	
	
	
</div>