
	<div class="banner">
		<a href="http://knowyourcity.org/"><img src="img/banner.png" alt="banner" width="146" height="287"/></a>
		<p><a class="buttontext white" href="http://knowyourcity.org">BACK TO<br>MAIN PAGE</a></p>
	</div>

<div class="mainnav">

		
	<div class="mainlogo">
		<a href="#top"><img src="img/KYClogo.png" alt="KYClogo" width="500" height="64" /></a>
	</div>
	
	<div class="secondlogo">
		<img src="img/kyctourssmall.png" alt="kyctourssmall" width="200" height="64" />
	</div>	
	
	<nav>
		<ul id="menu">
			<li><a href="http://shop.knowyourcity.org/collections/tours" target="_blank" class="navbutton buttontext">BUY TICKETS</a></li>
			<li class="visituslink"><a href="#visitus">VISIT US</a></li>
			<li class="schedulelink"><a href="#schedule">SCHEDULE</a></li>
			<li class="tourslink"><a href="#tours">TOURS</a></li>
			<li class="hiddenlink"><a href="http://www.knowyourcity.org">BACK TO MAIN SITE</a></li>
			
		</ul>
	</nav>
	
	
</div>