<div class="nav">

<img src="images/KYClogo.png" alt="KYClogo" width="500" height="64" />
	<nav>
		<ul>
			<li><a href="#visitus">VISIT US</a></li>
			<li><a href="#schedule">SCHEDULE</a></li>
			<li><a href="#tours">TOURS</a></li>
		</ul>
	</nav>
	
	
</div>