<div class="nav">

	<div class="banner">
		<img src="img/banner.png" alt="banner" width="146" height="287"/>
		<p><a class="buttontext white" href="http://knowyourcity.org">BACK TO<br>MAIN PAGE</a></p>
	</div>
	
	<div class="mainlogo">
		<img src="img/KYClogo.png" alt="KYClogo" width="500" height="64" />
	</div>
	
	<div class="secondlogo">
		<img src="img/kyctourssmall.png" alt="kyctourssmall" width="200" height="64" />
	</div>	
	
	<nav>
		<ul>
			<li><a href="http://www.knowyourcity.org" class="navbutton buttontext">BUY TICKETS</a></li>
			<li><a href="#visitus">VISIT US</a></li>
			<li><a href="#schedule">SCHEDULE</a></li>
			<li><a href="#tours">TOURS</a></li>
			
		</ul>
	</nav>
	
	<div class="response">
		<div class="menuicon">
			<img src="img/menubutton.png" alt="menubutton" width="50" height="50" />
		</div>	
	</div>	
	
</div>