<div class="nav">

	<div class="banner">
		<img src="images/banner.png" alt="banner" width="146" height="287"/>
		<p class="buttontext white">BACK TO<br>MAIN PAGE</p>
	</div>

<img src="images/KYClogo.png" alt="KYClogo" width="500" height="64" />
	<nav>
		<ul>
			<li><a href="http://www.knowyourcity.org" class="navbutton buttontext">BUY TICKETS</a></li>
			<li><a href="#visitus">VISIT US</a></li>
			<li><a href="#schedule">SCHEDULE</a></li>
			<li><a href="#tours">TOURS</a></li>
			
		</ul>
	</nav>
	
	
</div>