<div class="portland">
	<div class="diypdxinfo">
		<div class="eight columns">
			<div class="diy">
			
				<h3>PORTLAND 101</h3>
				<p class="quote2">Love Portland’s lefty politics? Then this is the tour for you!</p>
				<p class="tourtext">Connecting Portland’s political institutions, politicians and policies, this walking tour provides an inside look at the city and the key political factors that shaped it. Through this tour, we'll learn the stories of ordinary people that influenced urban planning, style, and attitudes, while looking at how the built environment can be linked to our city's political history. Portland 101 is a primer for those wanting to know more about Portland, its quirky character, and the progressive policy the city is internationally known for today.</p>
			
			
			</div>
			
				<div class="video">
					<iframe width="640" height="480" src="https://www.kickstarter.com/projects/1607251927/know-your-city-kiosk/widget/video.html" frameborder="0" scrolling="no"> </iframe>
				</div>
			
			
		</div>
		
		<div class="four columns">
			<div class="bullets">
			<h5>Join us for a 2-hour downtown walking tour including:</h5>
			<p class="abouttext">
				<li>How the city's identity transformed its "Prim and Proper" origins to its liberal, freewheeling Portlandia reputation</li>
				<li>Portland's rich history of activism: from women's suffrage to Occupy Wall Street</li>
				<li>How Portland became a leader in urban planning sustainability practices</li>
				<li>Why Portland has more strip clubs per capita than anywhere in the U.S.</li>
			</p>
			</div>
			
			<div class="gallery">
				<a href="/img/gallery1_full.jpg"  data-lightbox="portland101" data-title="Awesome Caption!"><img src="/img/gallery1_full.jpg" alt="gallery_1" width="120" height="120"/></a>
				<a href="/img/gallery1_full.jpg"  data-lightbox="portland101" data-title="Awesome Caption!"><img src="/img/gallery1_full.jpg" alt="gallery_1" width="120" height="120"/></a>
				<a href="/img/gallery1_full.jpg"  data-lightbox="portland101" data-title="Awesome Caption!"><img src="/img/gallery1_full.jpg" alt="gallery_1" width="120" height="120"/></a>
				<a href="/img/gallery1_full.jpg"  data-lightbox="portland101" data-title="Awesome Caption!"><img src="/img/gallery1_full.jpg" alt="gallery_1" width="120" height="120"/></a>
			</div>
			
			<div class="tourbuybutton">
				<a href="http://shop.knowyourcity.org/products/portland101" class="button buttontext">BUY TICKETS</a>
				<p class="hiddentourslink"><a href="#tours">Back to Top</a></p>
			</div>	
		</div>
	</div>
</div>