<div id="portlandjquery" class="portland">
	<div class="diypdxinfo">
		<div class="eight columns">
			<div class="diy">
			
				<h3 class="red cushycms">PORTLAND 101</h3>
				<p class="quote2 cushycms">Love Portland’s lefty politics? Then this is the tour for you!</p>
				<p class="tourtext cushycms">Connecting Portland’s political institutions, politicians and policies, this walking tour provides an inside look at the city and the key political factors that shaped it. Through this tour, we'll learn the stories of ordinary people that influenced urban planning, style, and attitudes, while looking at how the built environment can be linked to our city's political history. Portland 101 is a primer for those wanting to know more about Portland, its quirky character, and the progressive policy the city is internationally known for today.</p>
			
			
			</div>
			
				<div>
					<div class="video">
					<iframe src="//player.vimeo.com/video/77690367" width="640" height="480" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> 
					</div>
				</div>
			
			
		</div>
		
		<div class="four columns">
			<div class="bullets">
			<h5>This two-hour tour includes:</h5>
			<p class="abouttext cushycms">
				<li>How the city's identity transformed its "Prim and Proper" origins to its liberal, freewheeling Portlandia reputation</li>
				<li>Portland's rich history of activism: from women's suffrage to Occupy Wall Street</li>
				<li>How Portland became a leader in urban planning sustainability practices</li>
				<li>Why Portland has more strip clubs per capita than anywhere in the U.S.</li>
			</p>
			</div>
			
			<div class="gallery">
				<a href="/img/pic1.jpg"  data-lightbox="portland101" data-title="Multicultural Portland Tour, Joe speaking about the Farmer's Market."><img src="/img/pic1_thumb.jpg" alt="gallery_1" width="120" height="120"/></a>
				<a href="/img/pic6.jpg"  data-lightbox="portland101" data-title="Multicultural Portland Tour, discussing the Occupy Portland movement."><img src="/img/pic6_thumb.jpg" alt="gallery_1" width="120" height="120"/></a>
				<a href="/img/pic11.jpg"  data-lightbox="portland101" data-title="Multicultural Portland Tour, explaining how things were set up in the park."><img src="/img/pic11_thumb.jpg" alt="gallery_1" width="120" height="120"/></a>
				<a href="/img/pic12.jpg"  data-lightbox="portland101" data-title="Multicultural Portland Tour, Samantha showing off maps."><img src="/img/pic12_thumb.jpg" alt="gallery_1" width="120" height="120"/></a>
			</div>
			
			<div class="tourbuybutton">
				<a href="http://shop.knowyourcity.org/products/portland101" target="_blank" class="button buttontext">BUY TICKETS</a>
				<p class="hiddentourslink buttontext red"><a href="#tours">Select New Tour</a></p>
			</div>	
		</div>
	</div>
</div>