---
title: Know Your City Tours
---

<div class="welcome white shadow">
  <p class="subtext">GET TO KNOW PORTLAND'S</p> 
  <h2>UNTOLD STORIES</h2>
</div><!-- .welcome -->

 <div class="photo">
	  photo
  </div>
	  	<div class="wrapper color-one">
	  		<div class="container">
	  			<div class="twelve columns">
	  				<div class="about white">
	  					<h3>Know Your City is Portland?s only nonprofit organization<br>
	  					that offers regular tours to visitors on a daily basis.</h3>
	  				</div>
	  			</div>
	  		</div>
	  	</div>
	  
	  	<div class="container">
				  		
				<div class="twelve columns">
					<div class="word">
			  			<p class="subtext">PICK YOUR</p>
			  			<h2>TOUR</h2>
			  		</div>	
				</div>	
				
				<div class="row four columns tour">
					<div class="tour1">					
					</div>	
				</div>
				
				<div class="row four columns tour">
					<div class="tour2">
					</div>	
				</div>
				
				<div class="row four columns tour">
					<div class="tour3">
					</div>	
				</div>
				
					<%=partial "diypdx" %>
					<%=partial "portland" %>
					<%=partial "multicultural" %>
	  	</div>
	  	
	  	<div class="wrapper color-two">
	  		<div class="container">
	  			<div class="twelve columns">
	  				<div class="word">
	  					<p class="subtext">PLAN YOUR</p> 
	  					<h2>SCHEDULE</h2>
	  				</div>
	  			</div>
	  			
	  			<div class="six columns">
	  				<div class="calendar">
	  					<h6>CALENDAR</h6>
	  					<p class="infotext">Tours run Thursday-Sundays,
	  					From May-September.</p>
	  					<p class="abouttext">For current tour times, see our calendar.</p>
	  					
	  					
	  					
	  				</div>
	  			</div>
	  			
	  			<div class="six columns">
	  				<div class="pricing">
	  					<h6>PRICING</h6>
	  					<p class="infotext"><span class="bold">$15</span> - Students and seniors</p>
	  					<p class="infotext"><span class="bold">$18</span> - General pre-sale</p>
	  					<p class="infotext"><span class="bold">$20</span> - General at time of tour</p>
	  				</div>
	  			</div>
	  		</div>
	  	</div>
	  	
	  	<div class="wrapper photo">
	  		<div class="container">
	  			<div class="twelve columns">
			  		<div class="word white shadow">
			  			<p class="subtext">COME AND</p>
			  			<h2>VISIT US</h2>
			  			<h5>Our bike kiosk is located in ANKENY ALLEY, between
			  			VOODOO DOUGHNUTS and SATURDAY MARKET</h5>
			  		</div>	
	  			</div>	
		  		
		  		<div class="eight columns">
		  			<div class="map">
		  				map
		  			</div>
		  		</div>
		  		
		  		<div class="four columns">
		  			<div class="info">
			  			<h6>ADDRESS</h6>
			  			<p class="infotext">200 SW Ankeny St.</p>
			  			<p class="infotext">Portland, OR 97204</p>
		  			</div>
		  			
	  				<div class="info2">
	  					<h6>KIOSK HOURS</h6>
	  					<p class="infotext">Thurs-Sun: 12pm?6pm</p>
	  					<p class="infotext">Mon-Weds: Closed</p>
	  				</div>
		  		</div>	
	  		</div>	
	  	</div>
	  	
	  	<div class="container">
	  	
	  		<div class="twelve columns">
	  			<div class="word">
	  				#DIYPDX
	  			</div>
	  			
	  			<div class="instagram">
	  				instagrampics
	  			</div>	
	  		</div>	
	 
	  	</div>