---
title: Know Your City Tours
---

<div class="welcome white shadow">
  <h1>GET TO KNOW PORTLAND'S<br>
  UNTOLD STORIES</h1>
</div><!-- .welcome -->

 <div class="photo">
	  photo
  </div>
	  	<div class="wrapper color-one">
	  		<div class="container">
	  			<div class="twelve columns">
	  				<div class="about white">
	  					<p class="quote1">Know Your City is Portland's only nonprofit organization<br>
	  					that offers regular tours to visitors on a daily basis.</p>
	  				</div>
	  			</div>
	  		</div>
	  	</div>
	  
	  	<div class="container">
				  		
				<div class="wrapper twelve columns">
					<div class="word">
			  			<h4>PICK YOUR</h4>
			  			<h2>TOUR</h2>
			  		</div>	
				</div>	
				
				<div class="row four columns tour">
					<div class="tour1">	
					</div>	
				</div>
				
				<div class="row four columns tour">
					<div class="tour2">
					</div>	
				</div>
				
				<div class="row four columns tour">
					<div class="tour3">
					</div>	
				</div>
				
					<%=partial "diypdx" %>
					<%=partial "portland" %>
					<%=partial "multicultural" %>
	  	</div>
	  	
	  	<div class="wrapper color-two">
	  		<div class="container">
	  			<div class="twelve columns">
	  				<div class="word">
	  					<h4>PLAN YOUR</h4> 
	  					<h2>SCHEDULE</h2>
	  				</div>
	  			</div>
	  			
	  			<div class="six columns">
	  				<div class="calendar">
	  					<h5>CALENDAR</h5>
	  					<p class="infotext">Tours run Thursday-Sundays,<br>
	  					from May-September.</p>
	  					<p class="abouttext">For current tour times, see our calendar.</p>
	  					<a href="#" class="button buttontext">SEE CALENDAR</a>
	  					
	  					
	  				</div>
	  			</div>
	  			
	  			<div class="six columns">
	  				<div class="pricing">
	  					<h5>PRICING</h5>
	  					<p class="infotext"><span class="bold">$15</span> - Students and seniors</p>
	  					<p class="infotext"><span class="bold">$18</span> - General pre-sale</p>
	  					<p class="infotext"><span class="bold">$20</span> - General at time of tour</p>
	  					<a href="#" class="button buttontext">BUY TICKETS</a>
	  				</div>
	  			</div>
	  		</div>
	  	</div>
	  	
	  	<div class="wrapper photo">
	  		<div class="container">
	  			<div class="twelve columns">
			  		<div class="word white shadow">
			  			<h4>COME AND</h4>
			  			<h2>VISIT US</h2>
			  			<p class="quote2">Our bike kiosk is located in Ankeny Alley, between<br>
			  			Voodoo Doughnut and the Saturday Market</p>
			  		</div>	
	  			</div>	
		  		
		  		<div class="eight columns">
		  			<div class="map">
		  				<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2795.3817408694663!2d-122.6722593!3d45.5225231!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54950a072303b181%3A0xa47ddb26335b5d22!2s200+SW+Ankeny+St!5e0!3m2!1sen!2sus!4v1401143358762" width="640" height="320" frameborder="0" style="border:0"></iframe>
		  			</div>
		  		</div>
		  		
		  		<div class="four columns">
		  			<div class="info white shadow">
			  			<h5>ADDRESS</h5>
			  			<p class="infotext">200 SW Ankeny St.</p>
			  			<p class="infotext">Portland, OR 97204</p>
		  			</div>
		  			
	  				<div class="info2 white shadow">
	  					<h5>KIOSK HOURS</h5>
	  					<p class="infotext">Thurs-Sun: 12pm–6pm</p>
	  					<p class="infotext">Mon-Weds: Closed</p>
	  				</div>
		  		</div>	
	  		</div>	
	  	</div>
	  	
	  	<div class="container">
	  	
	  		<div class="twelve columns">
	  			<div class="word red">
	  				<h5>#KYCPDX</h5>
	  			</div>
	  			
	  			<div id="instafeed" class="twelve columns"></div> 	
	  		</div>	
	 
	  	</div>