<body>
<div class="container">

<h1>
	This is a h1 header</h1>
<h2>
	This is a h2 header</h2>
<h3>
	This is a h3 header</h3>
<h4>
	This is a h4 header</h4>
<h5>
	This is a h5 header</h5>
<h6>
	This is a h6 header</h6>

<div class="buttontext">BUTTONTEXT</div>

<div class="subtext">SECTION SUBHEAD</div>

<div class="navtext">NAVIGATION</div>


<div class="infotext">SECTION INFO</div>

<div class="tourtext">TOUR DESCRIPTION</div>
<div class="tourtext">This walking tour is designed for those seeking to connect with the true, homespun culture of the city (which can sometimes be tough to find as a visitor). Along the way, we’ll meet with some of the personalities that contribute to Portland’s artisan and DIY culture, and we’ll also explore some of the key policies that help<br>
200 SW Ankeny St.<br>
Portland, OR 97204</div>

<div class="abouttext">ABOUT & FOOTER</div>
<div class="abouttext">A look at Portland’s burgeoningmusic and literary scenes and it’sindependent businesses</div>

	<strong>This is bold.</strong> <em>This is italic.</em> <span style="text-decoration: underline;">This is underlined</span> <a href="#">link</a></p>
<p>
	This is an ordered list.</p>
<ol>
	<li>
		Item 1</li>
	<li>
		Item 2</li>
	<li>
		Item 3</li>
</ol>
<p>
	Horizontal Rule here:</p>
<hr>
<p>
	&nbsp;</p>
<p>
	This is an unordered list</p>
<ul>
	<li>
		Item 1</li>
	<li>
		Item 2</li>
	<li>
		Item 3</li>
</ul>
<!-- /#col1-main-edit -->