.footer {
	height:150px;
	background-image: image-url('/img/stardust.png');
	
		@include breakpoint($mobile-landscape) {
			height:360px;
			text-align: center;
		}
	
		@include breakpoint($mobile-portrait) {
			height:360px;
			text-align: center;
		}
}

.social {
	display: block;
	float: left;
	margin-right: 17px;	
	
		@include breakpoint($mobile-landscape) {
				float: none;
				display: inline-block;
				margin-left: auto;
				margin-right: auto;
		}
	
		@include breakpoint($mobile-portrait) {
				float: none;
				display: inline-block;
				margin-left: auto;
				margin-right: auto;
		}
	
}

.facebookicon {
	cursor: pointer;
	background-image: image-url('/img/facebook.png');
	background-size: 100%;
	width: 40px;
	height: 40px;
}

.facebookicon:hover {
	background-position: 0px -40px;
	background-repeat: no-repeat;
}


.twittericon {
	cursor: pointer;
	background-image: image-url('/img/twitter.png');
	background-size: 100%;
	width: 40px;
	height: 40px;
}

.twittericon:hover {
	background-position: 0px -40px;
	background-repeat: no-repeat;
}

.instagramicon {
	cursor: pointer;
	background-image: image-url('/img/instagram.png');
	background-size: 100%;
	width: 40px;
	height: 40px;
}

.instagramicon:hover {
	background-position: 0px -40px;
	background-repeat: no-repeat;
}

.vimeoicon {
	cursor: pointer;
	background-image: image-url('/img/vimeo.png');
	background-size: 100%;
	width: 40px;
	height: 40px;
}

.vimeoicon:hover {
	background-position: 0px -40px;
	background-repeat: no-repeat;
}