.welcome{
	
	z-index: 100;
	text-align: center;
/*
	width: 100%;
	position: absolute;
*/


	
	h1{
		margin-top: 270px;
		
		@include breakpoint($tablet-size) {
		 	margin-top:260px;
		}
		
		@include breakpoint($mobile-portrait) {
		 	margin-top:80px;
		}
	}
}

.word{
	width: 100%;
	text-align: center;
	text-decoration: none;
}

.word h5 {
	margin-top: 20px;
}

.photo{
	background-image: image-url('/img/homepageimg.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 740px;
    left: 0;
    top: 0;
    width: 100%;
	
	
		@include breakpoint($mobile-portrait) {
			 height:380px;
		
		}
		
		@include breakpoint($mobile-landscape) {
		 	height:750px;
		}
}

.photo2{
	background-image: image-url('/img/kycalley.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 635px;
    left: 0;
    top: 0;
    width: 100%;
	
	
		@include breakpoint($mobile-portrait) {
			 height:770px;
			 background-image: image-url('/img/stardust.png');
		}
		
		@include breakpoint($mobile-landscape) {
		 	height:980px;
		}
}

.about{
	text-align: center;

}

.wrapper {
	padding-top: 20px;
	width: 100%;
	
}

.color-one{
	background-color: $red;
	height:150px;
	
		@include breakpoint($mobile-landscape) {
			 height:240px;
		}
}

.color-two{
	background-image: image-url('/img/kycpattern.jpg');
	margin-top: 50px;
	padding-bottom: 50px;
	height:400px;
	
		@include breakpoint($mobile-landscape) {
			height:670px;
		}
	
		@include breakpoint($mobile-portrait) {
			height:625px;
		}
		
}

.calendar, .pricing{
	height:250px;
	background-color: rgba(255, 255, 255, 0.7);
	text-align: center;
	margin-bottom: 20px;
}

.buttoncal{
		margin-top:25px;
}

.buttonprice{
	margin-top: 20px;
}

.map{
	height:100%;
	
		iframe{
			@include breakpoint($tablet-size) {
				width:492px;
			}
			
			@include breakpoint($mobile-landscape) {
				width: 420px;
			}
			
			@include breakpoint($mobile-portrait) {
				width: 280px;
				height:200px;
			}
		}	
	
}

.info, .info2{
	height: 170px;
	color:white;
	text-align: center;
	
}

.red{
	color: $red;
}

/*
.instatag {
	background-image: image-url('/img/instatag.png');
	height: 30px;
	width: 30px;
}
*/

#instafeed {
  	width: 100%;
	height: 200px;
    overflow: hidden;
    
    	@include breakpoint($mobile-landscape) {
			width:420px;
			height:100px;
			overflow:hidden;

		}
		
		@include breakpoint($mobile-portrait) {
			width:270px;
			height:90px;
			overflow:hidden;
		}
		

  
}

#instafeed img {
	width: 141px;
	height: 141px;
	padding: 10px;
	
		@include breakpoint($tablet-size) {
			width:100px;
			height:100px;
		}
		
		@include breakpoint($mobile-landscape) {
			width:80px;
			height:80px;
		}
		
		@include breakpoint($mobile-portrait) {
			width: 60px;
			height:60px;
		}
}

.instagram{
	height:200px;
	
		@include breakpoint($mobile-landscape) {
			height:150px;
		}
		
		@include breakpoint($mobile-portrait) {
			height:120px;
		}
	
}

.footer {
	height:150px;
	background-image: image-url('/img/stardust.png');
	
		@include breakpoint($mobile-landscape) {
			height:400px;
			text-align: center;
		}
	
		@include breakpoint($mobile-portrait) {
			height:400px;
			text-align: center;
		}
}

.social {
	display: block;
	float: left;
	margin-right: 20px;	
	
}


.facebookicon {
	cursor: pointer;
	background-image: image-url('/img/facebook.png');
	background-size: 100%;
	width: 40px;
	height: 40px;
}

.facebookicon:hover {
	background-position: 0px -40px;
	background-repeat: no-repeat;
}


.twittericon {
	cursor: pointer;
	background-image: image-url('/img/twitter.png');
	background-size: 100%;
	width: 40px;
	height: 40px;
}

.twittericon:hover {
	background-position: 0px -40px;
	background-repeat: no-repeat;
}

.instagramicon {
	cursor: pointer;
	background-image: image-url('/img/instagram.png');
	background-size: 100%;
	width: 40px;
	height: 40px;
}

.instagramicon:hover {
	background-position: 0px -40px;
	background-repeat: no-repeat;
}

.vimeoicon {
	cursor: pointer;
	background-image: image-url('/img/vimeo.png');
	background-size: 100%;
	width: 40px;
	height: 40px;
}

.vimeoicon:hover {
	background-position: 0px -40px;
	background-repeat: no-repeat;
}






