.welcome{
	position: absolute;
	z-index: 100;
	text-align: center;
	width: 100%;
	margin-top: 200px;
}

.word{
	width: 100%;
	text-align: center;
}

.word h5 {
	margin-top: 35px;
}

.photo{
	background-image: url('/img/headerimg.jpg');
	background-size:100%;
	width:100%;
	height:700px;
	background-position: center center;
}

.about{
	text-align: center;
}

.wrapper {
	padding-top: 45px;
	width: 100%;
}

.color-one{
	background-color: $red;
	height:150px;
}

.color-two{
	background-image: url('/img/kycpattern.jpg');
	margin-top: 50px;
	padding-bottom: 50px;
	height:400px;
	
}

.calendar, .pricing{
	height:250px;
	background-color: rgba(255, 255, 255, 0.7);
	text-align: center;
}

.map{
	height:100%;
	
		iframe{
			@include breakpoint($tablet-size) {
				width:492px;
			}
			
			@include breakpoint($mobile-landscape) {
				width: 420px;
			}
			
			@include breakpoint($mobile-portrait) {
				width: 280px;
				height:200px;
			}
		}	
	
}

.info, .info2{
	height: 200px;
	color:white;
	
}

.red{
	color: $red;
}

#instafeed {
  	width: 100%;
	height: 175px;
    overflow: hidden;
  
}

#instafeed img {
	width: 141px;
	height: 141px;
	padding: 10px;
}

.footer {
	height:150px;
	background-image: url('/img/stardust.png');
}

.social {
	background-image: url('/img/socialmedia.png');
	height: 40px;
	width: 40px;
	display: block;
	float: left;
	margin-right: 20px;	
}

.facebookbutton a:hover {
	background-position: 0 -40px;
}
	
.twitterbutton {
	background-position: 40px 0;
}

.twitterbutton a:hover {
	background-position: 40px -40px;
}

.instagrambutton {
	background-position: 80px 0;
}

.instagrambutton a:hover {
	background-position: 80px -40px;
}

.vimeobutton {
	background-position: 120px 0;	
}

.vimeobutton a:hover {
	background-position: 120px -40px;
}