

.welcome{
	
	z-index: 100;
	text-align: center;

	h1{
		margin-top: 270px;
		
		@include breakpoint($tablet-size) {
		 	margin-top:260px;
		}
		
		@include breakpoint($mobile-landscape) {
		 	margin-top: 35%;
		}
		
		@include breakpoint($mobile-portrait) {
		 	margin-top:25%;
		}
	}
}

.word{
	width: 100%;
	text-align: center;
	text-decoration: none;
}

.word h5 {
	margin-top: 20px;
}

.photo{
	background-image: image-url('/img/homepageimg.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 740px;
    left: 0;
    top: 0;
    width: 100%;
	
	
		@include breakpoint($mobile-portrait) {
			 height:380px;
		
		}
		
		@include breakpoint($mobile-landscape) {
		 	height:750px;
		}
}

.photo2{
	background-image: image-url('/img/kycalley.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 620px;
    left: 0;
    top: 0;
    width: 100%;
	
	
		@include breakpoint($mobile-portrait) {
			 height:750px;
			 background-image: image-url('/img/stardust.png');
		}
		
		@include breakpoint($mobile-landscape) {
		 	height:945px;
		}
}

.about{
	text-align: center;

}

.wrapper {
	padding-top: 20px;
	width: 100%;
	
}

.color-one{
	background-color: $red;
	height:150px;
	
		@include breakpoint($mobile-landscape) {
			 height:240px;
		}
}

.color-two{
	background-image: image-url('/img/kycpattern.jpg');
	margin-top: 20px;
	padding-bottom: 50px;
	height:400px;
	
		@include breakpoint($mobile-landscape) {
			height:670px;
		}
	
		@include breakpoint($mobile-portrait) {
			height:625px;
		}
		
}

.map{
	height:100%;
	
		iframe{
			@include breakpoint($tablet-size) {
				width:492px;
			}
			
			@include breakpoint($mobile-landscape) {
				width: 420px;
			}
			
			@include breakpoint($mobile-portrait) {
				width: 280px;
				height:200px;
			}
		}	
	
}

.info, .info2{
	height: 120px;
	margin-top: 20px;
	color:white;
	text-align: center;
	
}

.red{
	color: $red;
}
