.nav {
	background-color: white;
	height: 75px;
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 200;
	
	img {
		margin-left: 10px;
		margin-top: 8px;
		z-index: 300;
	}
	
}

.banner {
	position: fixed;
	z-index: -1;
	
	p {
		z-index:200;
		margin-left: 30px;
		margin-top: -80px;
		
	}
}
	
nav {
	a:hover {
		color: $red;
	}
	
	ul{
	margin-top: -50px;
	
		li a {
			display: inline;
			float: right;
			margin-right: 25px;
			margin-top: 0px;
			font-family: 'Arvo', sans-serif;
			color: black;
			font-size: 16px;
			text-decoration: none;
		}
	}	
}

.buyticketsbutton {
	padding: 10px 22px;
	color: white;
	margin-top: -10px;
	width: 130px;
	height: 18px;
	background-color: $red;
	font-size: 18px;
	
	&:hover {
		color: white;
		background-color:  #d57070;
	}
}