.mainnav {
	background-color: white;
	height: 75px;
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 300;
		
	.mainlogo {
		margin-left: 10px;
		margin-top: 10px;
		z-index: 400;		
		}
}


.hiddenlink {
	display: none;
}


.slicknav_menu {
	display: none;
}

@media only screen and (max-width : 767px) {
	/* #menu is the original menu */
	
	#menu{
		display: none;
	}
	
	
	
	.slicknav_menu {
		display: block;
	}
	
	.banner{
		display: none;
	}
	
	.hiddenlink {
		display: inline;
	}
	
}






.banner {
	position: fixed;
	top: -170px;
	left: 10px;
	z-index: 200;
	width: 146px;
	height: 287px;
	-webkit-transition: all .5s ease;
	-moz-transition:  all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all  .5s ease;	
			
	p {
	z-index: 1000;
	margin-left: 10px;
	margin-top: -95px;	
	text-align: center;
		
		a {
			text-decoration: none;
			}			
	}
}



.banner:hover {
	position: fixed;
	 top: 20px;
	 left:10px;	 
}





	
nav {
	a:hover {
		color: $red;
	}
	
	ul{
	margin-top: -50px;
	
		li a {
			display: inline;
			float: right;
			margin-right: 25px;
			margin-top: -10px;
			font-family: 'Arvo', sans-serif;
			color: black;
			font-size: 16px;
			text-decoration: none;
		}
	}	
}

.navbutton {
	background-image: -webkit-linear-gradient(top, rgba(215,25,35,1) 0%,rgba(215,25,35,1) 100%);
	background-image:    -moz-linear-gradient(top, rgba(215,25,35,1) 0%,rgba(215,25,35,1) 100%);
	background-image:     -ms-linear-gradient(top, rgba(215,25,35,1) 0%,rgba(215,25,35,1) 100%);
	background-image:      -o-linear-gradient(top, rgba(215,25,35,1) 0%,rgba(215,25,35,1) 100%);
	background-image:         linear-gradient(top, rgba(215,25,35,1) 0%,rgba(215,25,35,1) 100%);
   	-webkit-border-radius: 3px;
       -moz-border-radius: 3px;
	        border-radius: 3px;
	padding: 10px;
	color: white;
	margin-top: -20px;
	width: 130px;
	display: inline-block;
	text-decoration: none;
	
		@include breakpoint($mobile-landscape) {
			display: none;
		}	
		
		@include breakpoint($mobile-portrait) {
			display: none;
		}
}


.navbutton:hover {
   background-image: -webkit-linear-gradient(top, rgba(255,54,67,1) 0%,rgba(215,25,35,1) 100%);
   background-image:    -moz-linear-gradient(top, rgba(255,54,67,1) 0%,rgba(215,25,35,1) 100%);
   background-image:     -ms-linear-gradient(top, rgba(255,54,67,1) 0%,rgba(215,25,35,1) 100%);
   background-image:      -o-linear-gradient(top, rgba(255,54,67,1) 0%,rgba(215,25,35,1) 100%);
   background-image:         linear-gradient(top, rgba(255,54,67,1) 0%,rgba(215,25,35,1) 100%);
   -webkit-box-shadow: none;
      -moz-box-shadow: none;
           box-shadow: none;
   text-decoration: none;
   color: white;
}



.mainlogo{
	@include breakpoint($mobile-portrait) {
		display: none;
	}
	
	@include breakpoint($mobile-landscape) {
		display: none;
	}
}

.secondlogo{
	z-index: 1000;
	@include breakpoint($tablet-size){
		display: none;
	}
	
	@include breakpoint($full-size){}
		display:none;
		
	@include breakpoint($mobile-landscape) {
		display: inline;
	}	
		
	@include breakpoint($mobile-portrait) {
		display: inline;
	}	
		
}




/*

@media only screen and (max-width : 767px) {


	.menuicon {

		display:inline-block;

	}

	nav ul, nav:active ul { 

		position: fixed;
		padding: 20px;
		background: #fff;
		right: 20px;
		top: 80px;

	}

	nav li {

		text-align: center;
		width: 100%;
		padding: 10px 0;
		margin: 0;

	}

	nav:hover ul {

		display: block;

	}
	}
*/
