.calendar{
	height:250px;
	background-color: rgba(255, 255, 255, 0.7);
	text-align: center;
	margin-bottom: 20px;
}

.pricing{
	height:250px;
	background-color: rgba(255, 255, 255, 0.7);
	margin-bottom: 20px;
	text-align: center;
	
	table{
		margin: 0 auto;
		margin-bottom: 20px;
		width:150px;
		text-align: center;
		
		td{
			/* padding-left:20px; */
		}
		
		tr{
			/* padding-left:0px; */
		}
	}
}

.abouttextspaceafter {
	margin-top: 10px;
}

.buttoncal{
		margin-top:25px;
}

.buttonprice{
	margin: 50px auto 0;
	width: 220px;
}