.tour1, .tour2, .tour3 {
	height:300px;
	width: 100%;	
}

.tour1{
	background-image: url(/images/kyctour_multi.png);	
}

.tour2{
	background-image: url(/images/kyctour_pdx101.png);
}

.tour3{
	background-image: url(/images/kyctour_diypdx.png);
}

.diy{
	height:500px;
}

.diybullets{
	height:500px;
}

.portland {
	display: none;
}

.multicultural {
	display: none;
}