.tour1{
	background-image: url(/images/kyctour_multi.png);
	height:300px;
	width: 100%;
	
}

.tour2{
	background-image: url(/images/kyctour_pdx101.png);
	height:300px;
	width: 100%;
}

.tour3{
	background-image: url(/images/kyctour_diypdx.png);
	height:300px;
	width: 100%;
}

.diy{
	height:500px;
	background-color:#1f8383;
}

.diybullets{
	height:500px;
	background-color:#44ffff;
}

.portland {
	display: none;
}

.multicultural {
	display: none;
}