.tour1, .tour2, .tour3 {
	width: 100%;
	
	@include breakpoint ($full-size) {
		height:300px;
	}	
	
	 @include breakpoint($tablet-size) {
		 height:100px;
	}
}

.tour1{
	background-image: url(/images/KYCmultipdxsprite.jpg);	
}

.tour2{
	background-image: url(/images/KYCpdx101sprite.jpg);
}

.tour3{
	background-image: url(/images/KYCdiypdxsprite.jpg);
}

.diy{
	height:500px;
}

.diybullets{
	height:500px;
}

.portland {
	display: none;
}

.multicultural {
	display: none;
}